/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Custom Styles */
body {
    background-color: #F9F7F7;
    color: #393E46;
}

.bg-primary-custom {
    background-color: #DBD0C0 !important;
}

.bg-secondary-custom {
    background-color: #FAEAB1 !important;
}

.text-accent {
    color: #E5BA73 !important;
}

.btn-primary-custom {
    background-color: #DBD0C0;
    border-color: #DBD0C0;
    color: #393E46;
}

.btn-primary-custom:hover {
    background-color: #c9bcac;
    border-color: #c9bcac;
    color: #393E46;
}